/* - - - HEADER - - - */
header {
  background: $primary;
  .title {
    font-size: 4rem;
    max-width: 50rem;
    @include tablet {
      font-size: 5.5rem;
    }
  }
}

nav {
  padding: $space / 2;
  @include tablet {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .logo {
    font-family: $logo;
    @include tablet {
      font-size: 5rem;
    }
  }

  li {
    list-style: none;
    display: inline-block;
    margin-right: $space / 1.5;
    @include tablet {
      margin-left: $space / 1.5;
      margin-right: 0;
    }
  }
}

.header-content {
  height: auto;
  width: 100%;
  display: flex;
  flex-direction: column;
  @include tablet {
    flex-direction: row;
    align-items: center;
  }
  .text {
    padding: $space / 2;
  }
  @include tablet {
    .text,
    .img-container {
      width: 50%;
    }
  }
}

.img-container {
  height: 35rem;
  width: 100%;
  @include tablet {
    height: 50rem;
  }
}
