.showcase {
  margin: $space auto;

  .card-container {
    @include tablet {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
  }

  .card {
    width: 80%;
  }
}
