// COLORS:
$primary: #c6a59b;
$primaryDark: #de9cab;
$secondaryColor: #94e2d2;
$secondaryDark: #7dcfbe;
$white: #fff;
$black: #000;
$grey: #262626;

// TYPOGRAPHY:
$logo: "Pacifico", cursive;
$primaryFont: "Poppins", sans-serif;

// MEDIA QUERIES:
$phone: 480px;
$tablet: 768px;
$desktop: 1200px;

// SPACE
$space: 5rem;
