* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Work Sans", sans-serif;
  font-size: 62.5%;
}

:root {
  --primary-color: #1ce374;
  --darker-color: #00ac6a;
}

p {
  font-size: 1.8em;
  line-height: 1.5;
}

h1 {
  font-size: 6em;
  font-style: normal;
  font-weight: bold;
  margin-bottom: 0.5em;
}

h2 {
  font-size: 4.4em;
  font-weight: 200;
}

h3 {
  font-size: 2.5em;
}

a {
  text-decoration: none;
}

/* - - - STRUCTURE - - - */
.container {
  padding: 7em;
  margin: 0 auto;
}

/* - - - FEATURES - - - */
.active {
  color: #000;
}

.center {
  text-align: center;
  margin: 0 auto;
  max-width: 55em;
}

.underlined {
  text-decoration: underline;
}

.bold {
  font-weight: bold !important;
}

.uppercase {
  text-transform: uppercase;
}

/* - - - HEADER - - - */

header {
  padding: 5em 15em;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo img {
  width: 8em;
}

nav li {
  color: var(--darker-color);
  font-weight: bold;
  display: inline-block;
  list-style: none;
  padding: 0.5em 2em;
  font-size: 1.5em;
}
.signup {
  border: 2px solid var(--darker-color);
  position: relative;
}

/* .signup::before {
  content: "";
  background: var(--darker-color);
  width: 100px;
  height: 50px;
  position: fixed;
} */
.signup:hover {
  cursor: pointer;
  transform: translateX(5px);
  /* The transform property doesn't work if li display is inline.
  It only works with elements with inline-block or blog display!!!! */
}
/* - - - MAIN - options - - - */

.options {
  margin: 0 auto;
  padding: 5em 2em;
  margin-bottom: 2em;
  max-width: 120em;
}

.content {
  padding: 5em 3em;
  text-align: center;
}

.explanation {
  padding: 3em;
}
.options h3 {
  color: var(--darker-color);
}

.dotted {
  padding: 1em;
  list-style: circle;
  font-weight: lighter;
  font-size: 1.6em;
}

.fa-solid {
  color: var(--primary-color);
  font-size: 0.8em;
  padding: 0.3em;
}

/* commom styles */

.plan p {
  text-transform: uppercase;
}
.label {
  padding: 0.5em;
  font-size: 1em;
  background: rgb(182, 182, 182);
  text-align: center;
  color: #fff;
  text-transform: uppercase;
}

.price {
  display: block;
  font-size: 0.5em;
  font-weight: 100;
  color: rgb(53, 53, 53);
}

.button {
  font-size: 1.8em;
  color: rgb(53, 53, 53);
  display: inline-block;
  background: var(--primary-color);
  padding: 0.8em 1.2em;
  margin: 1em;
}

.plan:hover .button {
  color: #000;
  transform: scale(1.1);
}

.plan:hover {
  cursor: pointer;
}

.content li {
  list-style: none;
  text-align: left;
  font-size: 1.6em;
  margin-bottom: 1em;
  font-weight: lighter;
  display: block;
}
.content li:before {
  content: "\f00c";
  font-family: "FontAwesome";
  font-size: 0.8em;
  padding: 0.2em;
}

/* recommended unique styles */
.recommended {
  border: 0.1em solid var(--darker-color);
  border-radius: 1em 1em 0 0;
}

.recommended h2 {
  color: var(--darker-color);
  font-weight: bold;
}

.recommended .label {
  border-radius: 1em 1em 0 0;
  font-weight: bold;
  background: var(--darker-color);
}
/* - - - MAIN - FQA - - - */

.faq p {
  font-size: 2em;
  font-weight: 100;
}

.question {
  margin-bottom: 2em;
}

/* - - - FOOTER STYLES - - - */
footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10em 5em;
  background: #000;
}

.trial {
  text-align: center;
}
.trial-btn {
  background: var(--primary-color);
  display: inline-block;
  padding: 1em 2em;
  font-size: 1.6em;
  font-weight: bold;
  color: rgb(59, 59, 59);
  margin-top: 2em;
}

.links {
  display: flex;
}

.links ul li:first-child {
  color: #fff;
  font-weight: bold;
}

.links li {
  list-style: none;
  font-size: 1.8em;
  line-height: 2;
  margin-left: 4em;
}

.links li a {
  color: var(--primary-color);
}

.links a:hover {
  cursor: pointer;
  color: #fff;
}

/* - - - MEDIA QUERIES - - - */

/* - - - LARGE DEVICES - - - */
@media (min-width: 1000px) {
  .options {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .options > * {
    flex: 1;
  }

  footer {
    flex-direction: row;
    justify-content: space-between;
  }
}

/* - - - MEDIUM DEVICES - - - */
@media (min-width: 780px) {
  .row {
    display: flex;
    justify-content: space-between;
  }

  .question {
    width: 45%;
  }

  .row {
    margin-bottom: 3em;
  }
}

/* - - - SMALL DEVICES - - - */
@media (max-width: 480px) {
  .links li {
    font-size: 1.2em;
  }
}
